---
import ActivitybarUser from './ActivitybarUser';
---

<div class="ai-activitybar flex-col h-full hidden lg:flex">
  <div class="ai-fcc mb-4">
    <ActivitybarUser client:only="react" />
  </div>

  <div class="flex-1 flex flex-col justify-between">
    <slot />
  </div>
</div>
