:root {
  /* 活动栏 */
  --ai-activitybar-width: 60px;
  --ai-activitybar-background: linear-gradient(
    180deg,
    #d4d9de 0%,
    #cfdde0 80%,
    #d4d9de 100%
  );

  /* 动作栏 */
  --ai-action-bar-item-height: 48px;
  --ai-action-bar-item-icon: 25px;

  --ai-header-height: 60px;
  --ai-primary-sidebar-width: 260px;
  --ai-secondary-sidebar-width: 250px;
}

.ai-header {
  height: var(--ai-header-height);
}

.ai-primary-sidebar {
  max-width: var(--ai-primary-sidebar-width);
  min-width: var(--ai-primary-sidebar-width);
}

.ai-secondary-sidebar {
  min-width: var(--ai-secondary-sidebar-width);
}

.ai-activitybar {
  padding-top: 66px;
  min-width: var(--ai-activitybar-width);
  max-width: var(--ai-activitybar-width);
  background: var(--ai-activitybar-background);
}

.ai-action-bar {
  @apply flex flex-col;
}

.ai-action-button {
  height: var(--ai-action-bar-item-height);
}

.action-button-icon {
  width: var(--ai-action-bar-item-icon);
  height: var(--ai-action-bar-item-icon);
}
