<footer class="text-center">
  <p class="mt-2 text-xs opacity-30">
    <span class="pr-1">Made by</span>
    <a
      rel="nofollow noopener noreferrer"
      href="https://github.com/zhengxs2018"
      target="_blank"
    >
      阿森
    </a>
    <span class="px-1">|</span>
    <span class="pr-1">Powered by</span>
    <a
      rel="nofollow noopener noreferrer"
      href="https://openai.com/"
      target="_blank"
    >
      OpenAI
    </a>
  </p>
  <p class="mt-3 text-xs opacity-30">
    仅供学习交流使用，不得用于任何商业用途。
  </p>
</footer>
